In [1]:
# Set up the environment
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# The goal
What are common features among colleges and universities that have closed in the last decade?
Using these features, is it possible to predict which schools are in danger of closing in the near future?
Are there steps that schools can take to mitigate the features which may lead to their closing?

# Data collection
The data come from the US Department of Education College Scorecard, which is available on Kaggle and from the US Department of Education at https://collegescorecard.ed.gov/data/.

In [2]:
# Load the most recent scorecard into a DataFrame for examination
# List of fields I want to import, based on previous exploration and data dictionary
fields = ['Id','OPEID','INSTNM','CITY', 'ZIP','sch_deg', 'main', 'NUMBRANCH', 'PREDDEG', \
         'HIGHDEG', 'CONTROL','st_fips','region','LOCALE','CCUGPROF','RELAFFIL', 'ADM_RATE',\
         'ACTCMMID','SAT_AVG', 'UGDS', 'UG', 'CURROPER', 'NPT4_PUB', 'NPT4_PRIV', 'COSTT4_A', \
         'COSTT4_P','TUITFTE', 'INEXPFTE', 'AVGFACSAL', 'PFTFAC',\
         'C150_4', 'C150_L4','RET_FT4','RET_FTL4','RET_PT4','RET_PTL4','PCTFLOAN','UG25abv',\
         'COMP_ORIG_YR4_RT','WDRAW_ORIG_YR4_RT', 'ENRL_ORIG_YR4_RT', 'INC_PCT_LO', 'DEP_STAT_PCT_IND',\
         'IND_INC_PCT_LO', 'DEP_INC_PCT_LO', 'PAR_ED_PCT_1STGEN', 'DEP_INC_AVG', 'IND_INC_AVG', \
         'DEBT_MDN', 'GRAD_DEBT_MDN', 'WDRAW_DEBT_MDN', 'loan_ever', 'age_entry', 'female',\
         'married', 'dependent', 'veteran', 'faminc', 'md_faminc', 'median_hh_inc']

data = pd.read_csv("data/raw/Scorecard.csv", usecols=fields, low_memory=False)
data.shape

(124699, 60)

## Data organization
Create a file structure (and add work to GitHub repo)

In [3]:
#Create directories for various components of the project
#os.mkdir("data")
#os.mkdir("data/raw")
#os.mkdir("data/interim")
#os.mkdir("data/processed")
#os.mkdir("data/external")
#os.mkdir("figures")
#os.mkdir("models")

In [4]:
# Look at basic info about the dataframe - column names, summary information
data.columns

Index(['Id', 'OPEID', 'INSTNM', 'CITY', 'ZIP', 'sch_deg', 'main', 'NUMBRANCH',
       'PREDDEG', 'HIGHDEG', 'CONTROL', 'st_fips', 'region', 'LOCALE',
       'CCUGPROF', 'RELAFFIL', 'ADM_RATE', 'ACTCMMID', 'SAT_AVG', 'UGDS', 'UG',
       'CURROPER', 'NPT4_PUB', 'NPT4_PRIV', 'COSTT4_A', 'COSTT4_P', 'TUITFTE',
       'INEXPFTE', 'AVGFACSAL', 'PFTFAC', 'C150_4', 'C150_L4', 'RET_FT4',
       'RET_FTL4', 'RET_PT4', 'RET_PTL4', 'PCTFLOAN', 'UG25abv',
       'COMP_ORIG_YR4_RT', 'WDRAW_ORIG_YR4_RT', 'ENRL_ORIG_YR4_RT',
       'INC_PCT_LO', 'DEP_STAT_PCT_IND', 'DEP_INC_PCT_LO', 'IND_INC_PCT_LO',
       'PAR_ED_PCT_1STGEN', 'DEP_INC_AVG', 'IND_INC_AVG', 'DEBT_MDN',
       'GRAD_DEBT_MDN', 'WDRAW_DEBT_MDN', 'loan_ever', 'age_entry', 'female',
       'married', 'dependent', 'veteran', 'faminc', 'md_faminc',
       'median_hh_inc'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124699 entries, 0 to 124698
Data columns (total 60 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 124699 non-null  int64
 1   OPEID              124699 non-null  object
 2   INSTNM             124699 non-null  object
 3   CITY               124699 non-null  object
 4   ZIP                124699 non-null  object
 5   sch_deg            101334 non-null  float64
 6   main               124699 non-null  object
 7   NUMBRANCH          124699 non-null  int64
 8   PREDDEG            124699 non-null  object
 9   HIGHDEG            124699 non-null  object
 10  CONTROL            124676 non-null  object
 11  st_fips            124669 non-null  object
 12  region             124669 non-null  object
 13  LOCALE             7380 non-null    object
 14  CCUGPROF           3559 non-null    object
 15  RELAFFIL           917 non-null     object
 16  ADM_RATE           34156 non-null   float64
 17  ACTCMMID           15871 non-null   float64
 18  SAT_AVG            18598 non-null   float64
 19  UGDS               110343 non-null  float64
 20  UG                 6143 non-null    float64
 21  CURROPER           124699 non-null  object
 22  NPT4_PUB           9156 non-null    float64
 23  NPT4_PRIV          18560 non-null   float64
 24  COSTT4_A           20504 non-null   float64
 25  COSTT4_P           12256 non-null   float64
 26  TUITFTE            106055 non-null  float64
 27  INEXPFTE           106049 non-null  float64
 28  AVGFACSAL          69652 non-null   float64
 29  PFTFAC             60951 non-null   float64
 30  C150_4             34880 non-null   float64
 31  C150_L4            61470 non-null   float64
 32  RET_FT4            22899 non-null   float64
 33  RET_FTL4           37280 non-null   float64
 34  RET_PT4            15377 non-null   float64
 35  RET_PTL4           22487 non-null   float64
 36  PCTFLOAN           34444 non-null   float64
 37  UG25abv            52591 non-null   float64
 38  COMP_ORIG_YR4_RT   85828 non-null   object
 39  WDRAW_ORIG_YR4_RT  85828 non-null   object
 40  ENRL_ORIG_YR4_RT   85828 non-null   object
 41  INC_PCT_LO         115283 non-null  object
 42  DEP_STAT_PCT_IND   115212 non-null  object
 43  DEP_INC_PCT_LO     114455 non-null  object
 44  IND_INC_PCT_LO     114937 non-null  object
 45  PAR_ED_PCT_1STGEN  115216 non-null  object
 46  DEP_INC_AVG        114455 non-null  object
 47  IND_INC_AVG        114937 non-null  object
 48  DEBT_MDN           103759 non-null  object
 49  GRAD_DEBT_MDN      98712 non-null   object
 50  WDRAW_DEBT_MDN     101708 non-null  object
 51  loan_ever          32337 non-null   object
 52  age_entry          32337 non-null   object
 53  female             32337 non-null   object
 54  married            32337 non-null   object
 55  dependent          32337 non-null   object
 56  veteran            32337 non-null   object
 57  faminc             32337 non-null   object
 58  md_faminc          32337 non-null   object
 59  median_hh_inc      32337 non-null   object
dtypes: float64(22), int64(2), object(36)
memory usage: 57.1+ MB

In [6]:
data.nunique()

Id                   124699
OPEID                 11511
INSTNM                20601
CITY                   5494
ZIP                   16527
sch_deg                   3
main                      2
NUMBRANCH                58
PREDDEG                   5
HIGHDEG                   5
CONTROL                   3
st_fips                  59
region                   10
LOCALE                   12
CCUGPROF                 14
RELAFFIL                 59
ADM_RATE               7717
ACTCMMID                 32
SAT_AVG                 784
UGDS                  13472
UG                     2804
CURROPER                  2
NPT4_PUB               6887
NPT4_PRIV             13237
COSTT4_A              15353
COSTT4_P               9594
TUITFTE               23870
INEXPFTE              19612
AVGFACSAL              9870
PFTFAC                 8688
C150_4                 7985
C150_L4                8989
RET_FT4                5065
RET_FTL4               5289
RET_PT4                1841
RET_PTL4               3930
PCTFLOAN               8868
UG25abv                8837
COMP_ORIG_YR4_RT      32741
WDRAW_ORIG_YR4_RT     30150
ENRL_ORIG_YR4_RT      19559
INC_PCT_LO            34071
DEP_STAT_PCT_IND      58012
DEP_INC_PCT_LO        40588
IND_INC_PCT_LO        36438
PAR_ED_PCT_1STGEN     50406
DEP_INC_AVG           82228
IND_INC_AVG           82591
DEBT_MDN              18054
GRAD_DEBT_MDN         19875
WDRAW_DEBT_MDN        14754
loan_ever               102
age_entry              1939
female                  102
married                  93
dependent               102
veteran                  51
faminc                26335
md_faminc             22347
median_hh_inc         26122
dtype: int64

Many of the columns that I expected to be numerical data were actually classifed as strings. I tried to convert them to numbers, but got an error message, so I explored the content of the colummns and the data dictionary to see what the problem was.

For privacy reasons, some of the columns include data is coded as "PrivacySupressed".

In [7]:
# Look at individual column information to assess and assign data types
print((data.COMP_ORIG_YR4_RT.value_counts()/len(data.COMP_ORIG_YR4_RT)) *100)
print((data.COMP_ORIG_YR4_RT.isnull().sum() /len(data.COMP_ORIG_YR4_RT)) *100)

PrivacySuppressed    11.696966
0                     3.828419
1                     0.334405
0.5                   0.288695
0.666666666667        0.158782
                       ...
0.282692307692        0.000802
0.283106796117        0.000802
0.39514978602         0.000802
0.281588447653        0.000802
0.545112781955        0.000802
Name: COMP_ORIG_YR4_RT, Length: 32741, dtype: float64
31.17186184331871

In [8]:
# Replace "PrivacySuppressed" with null values (NaN)
for col in data.columns:
    if data[col].dtype == 'object':
        data[col] = data[col].str.replace("PrivacySuppressed", "NaN")

In [9]:
# Look at percentage of null values per column, now that PrivacySupressed has been recoded
nas=pd.DataFrame(data.isnull().sum().sort_values(ascending=False)/len(data),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                    percent
RELAFFIL           0.992646
CCUGPROF           0.971459
UG                 0.950737
LOCALE             0.940817
NPT4_PUB           0.926575
COSTT4_P           0.901715
RET_PT4            0.876687
ACTCMMID           0.872726
NPT4_PRIV          0.851162
SAT_AVG            0.850857
COSTT4_A           0.835572
RET_PTL4           0.819670
RET_FT4            0.816366
md_faminc          0.740680
median_hh_inc      0.740680
loan_ever          0.740680
age_entry          0.740680
female             0.740680
married            0.740680
dependent          0.740680
veteran            0.740680
faminc             0.740680
ADM_RATE           0.726092
PCTFLOAN           0.723783
C150_4             0.720286
RET_FTL4           0.701040
UG25abv            0.578256
PFTFAC             0.511215
C150_L4            0.507053
AVGFACSAL          0.441439
COMP_ORIG_YR4_RT   0.311719
WDRAW_ORIG_YR4_RT  0.311719
ENRL_ORIG_YR4_RT   0.311719
GRAD_DEBT_MDN      0.208398
sch_deg            0.187371
WDRAW_DEBT_MDN     0.184372
DEBT_MDN           0.167924
INEXPFTE           0.149560
TUITFTE            0.149512
UGDS               0.115125
DEP_INC_PCT_LO     0.082150
DEP_INC_AVG        0.082150
IND_INC_PCT_LO     0.078285
IND_INC_AVG        0.078285
DEP_STAT_PCT_IND   0.076079
PAR_ED_PCT_1STGEN  0.076047
INC_PCT_LO         0.075510
st_fips            0.000241
region             0.000241
CONTROL            0.000184

In [10]:
# Get a list of columns with > 90% NAN values
to_drop = [column for column in data.columns if (data[column].isnull().sum()/len(data[column]) > 0.90)]
#data.isnull().sum()/len(data)

print("Columns to drop include: ", to_drop)

Columns to drop include:  ['LOCALE', 'CCUGPROF', 'RELAFFIL', 'UG', 'NPT4_PUB', 'COSTT4_P']

In [11]:
# Remove columns with > 90% NAN values from dataframe
data = data.drop(to_drop, axis=1)
data.head()

,Id,OPEID,INSTNM,CITY,ZIP,sch_deg,main,NUMBRANCH,PREDDEG,HIGHDEG,...,WDRAW_DEBT_MDN,loan_ever,age_entry,female,married,dependent,veteran,faminc,md_faminc,median_hh_inc
0,1,01230800,COMMUNITY COLLEGE OF THE AIR FORCE,MONTGOMERY,361126613,NaN,Main campus,1,Predominantly associate's-degree granting,Associate degree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,00100200,ALABAMA A & M UNIVERSITY,NORMAL,35762,NaN,Main campus,1,Predominantly bachelor's-degree granting,Graduate degree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,00105200,UNIVERSITY OF ALABAMA AT BIRMINGHAM,BIRMINGHAM,352940110,NaN,Main campus,2,Predominantly bachelor's-degree granting,Graduate degree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,00574900,ALABAMA AVIATION AND TECHNICAL COLLEGE,OZARK,36360,NaN,Main campus,1,Predominantly certificate-degree granting,Associate degree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02503400,SOUTHERN CHRISTIAN UNIVERSITY,MONTGOMERY,361173553,NaN,Main campus,1,Predominantly bachelor's-degree granting,Graduate degree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Convert column types, based on data dictionary
#data.CCUGPROF = data.CCUGPROF.astype('category') # dropped
#data.RELAFFIL = data.RELAFFIL.astype('category') #dropped
#data.LOCALE = data.LOCALE.astype('category')
data.PREDDEG = data.PREDDEG.astype('category')
data.HIGHDEG = data.HIGHDEG.astype('category')
data.CONTROL = data.CONTROL.astype('category')
data.st_fips = data.st_fips.astype('category')
data.region = data.region.astype('category')
data.main = data.main.astype('bool')
data.COMP_ORIG_YR4_RT = data.COMP_ORIG_YR4_RT.astype('float')
data.WDRAW_ORIG_YR4_RT = data.WDRAW_ORIG_YR4_RT.astype('float')
data.ENRL_ORIG_YR4_RT= data.ENRL_ORIG_YR4_RT.astype('float')
data.INC_PCT_LO = data.INC_PCT_LO.astype('float')
data.DEP_STAT_PCT_IND= data.DEP_STAT_PCT_IND.astype('float')
data.DEP_INC_PCT_LO = data.DEP_INC_PCT_LO.astype('float')
data.IND_INC_PCT_LO = data.IND_INC_PCT_LO.astype('float')
data.PAR_ED_PCT_1STGEN = data.PAR_ED_PCT_1STGEN.astype('float')
data.DEP_INC_AVG = data.DEP_INC_AVG.astype('float')
data.IND_INC_AVG = data.IND_INC_AVG.astype('float')
data.DEBT_MDN = data.DEBT_MDN.astype('float')
data.GRAD_DEBT_MDN = data.GRAD_DEBT_MDN.astype('float')
data.WDRAW_DEBT_MDN = data.WDRAW_DEBT_MDN.astype('float')
data.loan_ever = data.loan_ever.astype('float')
data.age_entry = data.age_entry.astype('float')
data.female = data.female.astype('float')
data.married = data.married.astype('float')
data.dependent = data.dependent.astype('float')
data.veteran = data.veteran.astype('float')
data.faminc = data.faminc.astype('float')
data.md_faminc = data.md_faminc.astype('float')
data.median_hh_inc = data.median_hh_inc.astype('float')

In [13]:
#Rename columns to be more descriptive
col_names = ['Id','OPEID','Name','City','Zip','Predominant degree', 'Main branch', 'NumBranches',\
            'Primary degree type', 'High degree', 'Control', 'StateCode','Region', \
            'AdmissionRate', 'ACTMidpoint', 'SATAvg',\
            'Enrollment-DegreeSeeking', \
            'CURROPER','NetPrice-Private', 'AvgCost-AY', 'TuitionRevenue/FTE',\
            'Expenditure/FTE','AvgFaculty Salary', 'Percent Fulltime Faculty', 'Completion-4yr', 'Completion<4yr','RetentionFT-4yr', \
            'RetentionFT-<4yr','RetentionPT-4yr', 'RetentionPT-<4yr', 'PercentFedLoan','PercentAge>25', \
            'PercentCompleted4yr', 'PercentWithdraw4yr', 'PercentEnrolled4yr',\
            'PercentAidedLowIncome', 'PercentIndependent', 'PercentDependentLowIncome','PercentIndepentdentLowIncome',\
            'PercentFirstGen','AvgIncomeDependent','AvgIncomeIndep','MedianDebt', \
            'MedianDebtCompleters', 'MedianDebtNotComplete', 'PercentReceiveFedLoan','AvgAgeEntry', 'PercentFemale',\
            'PercentMarried','PercentDependent','PercentVeteran', 'AvgFamilyIncome','MedianFamilyIncome',\
            'MedianHouseholdIncome']
data.columns = col_names
data.set_index('Id').head()

,OPEID,Name,City,Zip,Predominant degree,Main branch,NumBranches,Primary degree type,High degree,Control,...,MedianDebtNotComplete,PercentReceiveFedLoan,AvgAgeEntry,PercentFemale,PercentMarried,PercentDependent,PercentVeteran,AvgFamilyIncome,MedianFamilyIncome,MedianHouseholdIncome
Id,,,,,,,,,,,,,,,,,,,,,
1,01230800,COMMUNITY COLLEGE OF THE AIR FORCE,MONTGOMERY,361126613,NaN,True,1,Predominantly associate's-degree granting,Associate degree,Public,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00100200,ALABAMA A & M UNIVERSITY,NORMAL,35762,NaN,True,1,Predominantly bachelor's-degree granting,Graduate degree,Public,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00105200,UNIVERSITY OF ALABAMA AT BIRMINGHAM,BIRMINGHAM,352940110,NaN,True,2,Predominantly bachelor's-degree granting,Graduate degree,Public,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00574900,ALABAMA AVIATION AND TECHNICAL COLLEGE,OZARK,36360,NaN,True,1,Predominantly certificate-degree granting,Associate degree,Public,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,02503400,SOUTHERN CHRISTIAN UNIVERSITY,MONTGOMERY,361173553,NaN,True,1,Predominantly bachelor's-degree granting,Graduate degree,Private nonprofit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Look for duplicate rows
duplicateRowsDF = data[data.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [Id, OPEID, Name, City, Zip, Predominant degree, Main branch, NumBranches, Primary degree type, High degree, Control, StateCode, Region, AdmissionRate, ACTMidpoint, SATAvg, Enrollment-DegreeSeeking, CURROPER, NetPrice-Private, AvgCost-AY, TuitionRevenue/FTE, Expenditure/FTE, AvgFaculty Salary, Percent Fulltime Faculty, Completion-4yr, Completion<4yr, RetentionFT-4yr, RetentionFT-<4yr, RetentionPT-4yr, RetentionPT-<4yr, PercentFedLoan, PercentAge>25, PercentCompleted4yr, PercentWithdraw4yr, PercentEnrolled4yr, PercentAidedLowIncome, PercentIndependent, PercentDependentLowIncome, PercentIndepentdentLowIncome, PercentFirstGen, AvgIncomeDependent, AvgIncomeIndep, MedianDebt, MedianDebtCompleters, MedianDebtNotComplete, PercentReceiveFedLoan, AvgAgeEntry, PercentFemale, PercentMarried, PercentDependent, PercentVeteran, AvgFamilyIncome, MedianFamilyIncome, MedianHouseholdIncome]
Index: []

[0 rows x 54 columns]

In [15]:
# Write complete dataframe to file.
data.to_csv('data/interim/college.filtered.csv')

In [16]:
# Convert CURROPER from category to Boolean
curroper = {"Currently certified as operating": 1, "Not currently certified as an operating institution": 0}
data['CURROPER'] = data['CURROPER'].replace(curroper)
data['CURROPER'] = data['CURROPER'].astype('bool')
print(data['CURROPER'])

# Write complete dataframe to file.
data.to_csv('data/processed/college.filtered.csv')
# Create a dataframe with only closed schools
closed = data[~data['CURROPER']]
operational = data[data['CURROPER']]
print("Data: ", data.shape)
print("Open schools: ", operational.shape)
print("Closed schools: ", closed.shape)

0          True
1          True
2          True
3         False
4          True
          ...
124694     True
124695     True
124696     True
124697     True
124698     True
Name: CURROPER, Length: 124699, dtype: bool
Data:  (124699, 54)
Open schools:  (101121, 54)
Closed schools:  (23578, 54)

In [17]:
print(len(closed.OPEID.unique()))

3826

In [18]:
closed.to_csv('data/interim/closed.filtered.csv')
operational.to_csv('data/interim/operational.filtered.csv')

In [19]:
# Counts and percents unique values
# Ranges of values

closed.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,23578.0,49811.772330,33055.783377,4.000000,20497.250000,45606.500000,75408.250000,1.246920e+05
Predominant degree,18503.0,1.789007,0.826354,1.000000,1.000000,2.000000,3.000000,3.000000e+00
NumBranches,23578.0,4.849563,12.537724,1.000000,1.000000,1.000000,3.000000,1.410000e+02
AdmissionRate,4080.0,0.693199,0.286237,0.000000,0.498050,0.700000,0.929050,1.000000e+01
ACTMidpoint,322.0,20.773292,2.951556,9.000000,19.000000,21.000000,23.000000,3.200000e+01
SATAvg,464.0,1001.066810,113.435312,560.000000,937.000000,990.000000,1056.000000,1.405000e+03
Enrollment-DegreeSeeking,20555.0,499.965604,2667.078410,0.000000,55.000000,155.000000,446.500000,2.418320e+05
NetPrice-Private,1906.0,17725.508919,7009.961774,-5029.000000,13507.000000,18237.500000,22505.250000,4.484200e+04
AvgCost-AY,1323.0,23399.270597,7171.311205,3368.000000,19692.000000,24593.000000,27280.000000,4.836100e+04
TuitionRevenue/FTE,17997.0,21438.137912,262530.265546,0.000000,2548.000000,6158.000000,10495.000000,2.667016e+07
Expenditure/FTE,17997.0,18784.539701,306214.297732,0.000000,1557.000000,3038.000000,5283.000000,2.794961e+07
AvgFaculty Salary,7989.0,3859.756290,1522.540598,0.000000,3010.000000,3783.000000,4592.000000,1.197800e+04
Percent Fulltime Faculty,8422.0,0.579456,0.325867,0.000000,0.289500,0.571400,0.933300,1.000000e+00
Completion-4yr,2429.0,0.399836,0.232808,0.000000,0.227300,0.403600,0.532100,1.000000e+00
Completion<4yr,13016.0,0.611135,0.241528,0.000000,0.456500,0.631600,0.783300,1.000000e+00
RetentionFT-4yr,1752.0,23.581190,30.867089,0.000000,0.473700,0.741300,54.000000,1.000000e+02
RetentionFT-<4yr,6269.0,27.551667,35.710784,0.000000,0.635500,0.846200,66.000000,1.000000e+02
RetentionPT-4yr,1021.0,16.971505,25.539868,0.000000,0.266700,0.513200,35.000000,1.000000e+02
RetentionPT-<4yr,3036.0,21.972056,31.704529,0.000000,0.500000,0.833300,47.000000,1.000000e+02
PercentFedLoan,3443.0,0.629316,0.289029,0.000000,0.518850,0.709200,0.842600,1.000000e+00
PercentAge>25,8125.0,0.492241,0.203003,0.000000,0.355800,0.484400,0.617600,1.000000e+00
PercentCompleted4yr,11956.0,0.401901,0.235723,0.000000,0.201995,0.433333,0.593319,1.000000e+00
PercentWithdraw4yr,11591.0,0.224204,0.158187,0.000000,0.102428,0.223404,0.335156,7.884615e-01
PercentEnrolled4yr,9720.0,0.022813,0.046730,0.000000,0.000000,0.000000,0.026531,5.000000e-01
PercentAidedLowIncome,11327.0,0.736009,0.155579,0.000000,0.640459,0.760300,0.850766,1.000000e+00
PercentIndependent,18888.0,0.696526,0.186036,0.000000,0.610576,0.727924,0.818818,1.000000e+00
PercentDependentLowIncome,12916.0,0.561696,0.166367,0.000000,0.446154,0.555040,0.678889,1.000000e+00
PercentIndepentdentLowIncome,13029.0,0.811390,0.117110,0.227034,0.763485,0.833230,0.891368,1.000000e+00
PercentFirstGen,17554.0,0.561686,0.108664,0.092559,0.500000,0.562979,0.625954,1.000000e+00
AvgIncomeDependent,17384.0,43090.542626,18905.441518,827.122448,28756.021298,41857.470385,55008.877850,1.692781e+05
AvgIncomeIndep,17610.0,21740.194031,10202.337221,753.516075,14857.225100,20104.880880,26158.465620,7.623670e+04
MedianDebt,15520.0,7265.532442,3563.198327,229.000000,4593.000000,6625.000000,9500.000000,3.900000e+04
MedianDebtCompleters,14963.0,10635.215431,6959.647175,500.000000,5636.000000,8923.000000,14125.000000,5.137500e+04
MedianDebtNotComplete,14128.0,5170.306625,2857.687500,383.000000,3313.000000,4487.500000,6334.000000,2.741700e+04
PercentReceiveFedLoan,7286.0,0.664087,0.370478,0.000000,0.390000,0.860000,0.940000,1.000000e+00
AvgAgeEntry,7286.0,27.233630,3.430798,17.360001,25.059999,26.780001,28.790001,4.559000e+01
PercentFemale,7286.0,0.697340,0.253765,0.000000,0.570000,0.760000,0.910000,1.000000e+00
PercentMarried,7286.0,0.263096,0.120194,0.000000,0.180000,0.250000,0.330000,8.400000e-01
PercentDependent,7286.0,0.289639,0.187753,0.000000,0.160000,0.250000,0.380000,1.000000e+00
PercentVeteran,7286.0,0.044833,0.049313,0.000000,0.010000,0.030000,0.060000,6.200000e-01
AvgFamilyIncome,7286.0,29701.483511,15015.094929,1441.770000,18322.862500,27017.985000,38541.687500,9.991537e+04
MedianFamilyIncome,7286.0,21819.861035,13080.937216,0.000000,13313.500000,19615.250000,28193.375000,9.270150e+04
MedianHouseholdIncome,7195.0,55016.443277,12436.396649,14277.000000,47582.995000,55155.680000,62638.620000,1.118410e+05

In [20]:
closed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23578 entries, 3 to 124691
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Id                            23578 non-null  int64
 1   OPEID                         23578 non-null  object
 2   Name                          23578 non-null  object
 3   City                          23578 non-null  object
 4   Zip                           23578 non-null  object
 5   Predominant degree            18503 non-null  float64
 6   Main branch                   23578 non-null  bool
 7   NumBranches                   23578 non-null  int64
 8   Primary degree type           23578 non-null  category
 9   High degree                   23578 non-null  category
 10  Control                       23577 non-null  category
 11  StateCode                     23577 non-null  category
 12  Region                        23577 non-null  category
 13  AdmissionRate                 4080 non-null   float64
 14  ACTMidpoint                   322 non-null    float64
 15  SATAvg                        464 non-null    float64
 16  Enrollment-DegreeSeeking      20555 non-null  float64
 17  CURROPER                      23578 non-null  bool
 18  NetPrice-Private              1906 non-null   float64
 19  AvgCost-AY                    1323 non-null   float64
 20  TuitionRevenue/FTE            17997 non-null  float64
 21  Expenditure/FTE               17997 non-null  float64
 22  AvgFaculty Salary             7989 non-null   float64
 23  Percent Fulltime Faculty      8422 non-null   float64
 24  Completion-4yr                2429 non-null   float64
 25  Completion<4yr                13016 non-null  float64
 26  RetentionFT-4yr               1752 non-null   float64
 27  RetentionFT-<4yr              6269 non-null   float64
 28  RetentionPT-4yr               1021 non-null   float64
 29  RetentionPT-<4yr              3036 non-null   float64
 30  PercentFedLoan                3443 non-null   float64
 31  PercentAge>25                 8125 non-null   float64
 32  PercentCompleted4yr           11956 non-null  float64
 33  PercentWithdraw4yr            11591 non-null  float64
 34  PercentEnrolled4yr            9720 non-null   float64
 35  PercentAidedLowIncome         11327 non-null  float64
 36  PercentIndependent            18888 non-null  float64
 37  PercentDependentLowIncome     12916 non-null  float64
 38  PercentIndepentdentLowIncome  13029 non-null  float64
 39  PercentFirstGen               17554 non-null  float64
 40  AvgIncomeDependent            17384 non-null  float64
 41  AvgIncomeIndep                17610 non-null  float64
 42  MedianDebt                    15520 non-null  float64
 43  MedianDebtCompleters          14963 non-null  float64
 44  MedianDebtNotComplete         14128 non-null  float64
 45  PercentReceiveFedLoan         7286 non-null   float64
 46  AvgAgeEntry                   7286 non-null   float64
 47  PercentFemale                 7286 non-null   float64
 48  PercentMarried                7286 non-null   float64
 49  PercentDependent              7286 non-null   float64
 50  PercentVeteran                7286 non-null   float64
 51  AvgFamilyIncome               7286 non-null   float64
 52  MedianFamilyIncome            7286 non-null   float64
 53  MedianHouseholdIncome         7195 non-null   float64
dtypes: bool(2), category(5), float64(41), int64(2), object(4)
memory usage: 8.8+ MB

In [21]:
# Find the percent of null values in each column
nas=pd.DataFrame(closed.isnull().sum().sort_values(ascending=False)/len(closed),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                               percent
ACTMidpoint                   0.986343
SATAvg                        0.980321
RetentionPT-4yr               0.956697
AvgCost-AY                    0.943888
RetentionFT-4yr               0.925693
NetPrice-Private              0.919162
Completion-4yr                0.896980
RetentionPT-<4yr              0.871236
PercentFedLoan                0.853974
AdmissionRate                 0.826957
RetentionFT-<4yr              0.734117
MedianHouseholdIncome         0.694843
PercentMarried                0.690983
PercentFemale                 0.690983
AvgAgeEntry                   0.690983
MedianFamilyIncome            0.690983
AvgFamilyIncome               0.690983
PercentReceiveFedLoan         0.690983
PercentDependent              0.690983
PercentVeteran                0.690983
AvgFaculty Salary             0.661167
PercentAge>25                 0.655399
Percent Fulltime Faculty      0.642803
PercentEnrolled4yr            0.587751
PercentAidedLowIncome         0.519595
PercentWithdraw4yr            0.508398
PercentCompleted4yr           0.492917
PercentDependentLowIncome     0.452201
Completion<4yr                0.447960
PercentIndepentdentLowIncome  0.447409
MedianDebtNotComplete         0.400797
MedianDebtCompleters          0.365383
MedianDebt                    0.341759
AvgIncomeDependent            0.262703
PercentFirstGen               0.255492
AvgIncomeIndep                0.253117
TuitionRevenue/FTE            0.236704
Expenditure/FTE               0.236704
Predominant degree            0.215243
PercentIndependent            0.198914
Enrollment-DegreeSeeking      0.128213
Region                        0.000042
StateCode                     0.000042
Control                       0.000042

In [22]:
operational.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,101121.0,65273.490986,3.602785e+04,1.000000,34585.000000,66740.000000,96875.000000,1.246990e+05
Predominant degree,82831.0,2.012423,8.819505e-01,1.000000,1.000000,2.000000,3.000000,3.000000e+00
NumBranches,101121.0,3.478387,1.262927e+01,1.000000,1.000000,1.000000,1.000000,1.410000e+02
AdmissionRate,30076.0,0.697474,2.140628e-01,0.000000,0.564375,0.722300,0.855200,3.687700e+00
ACTMidpoint,15549.0,22.763329,3.259005e+00,2.000000,21.000000,22.000000,24.000000,3.500000e+01
SATAvg,18134.0,1054.022223,1.269459e+02,514.000000,971.000000,1036.000000,1117.000000,1.599000e+03
Enrollment-DegreeSeeking,89788.0,2529.405333,5.015666e+03,0.000000,146.000000,705.000000,2556.000000,2.535940e+05
NetPrice-Private,16654.0,18011.659481,7.511786e+03,-103168.000000,13080.500000,18162.000000,22483.500000,8.757000e+04
AvgCost-AY,19181.0,22974.776654,1.181876e+04,2200.000000,13062.000000,20940.000000,29762.000000,7.447300e+04
TuitionRevenue/FTE,88058.0,11785.763179,9.475136e+04,0.000000,2479.000000,5682.000000,10655.000000,1.193246e+07
Expenditure/FTE,88052.0,16203.466168,1.028923e+06,0.000000,2690.000000,4388.000000,6960.000000,2.920157e+08
AvgFaculty Salary,61663.0,5303.211148,2.038280e+03,0.000000,4060.000000,5137.000000,6388.500000,2.489200e+04
Percent Fulltime Faculty,52529.0,0.587114,2.954439e-01,0.000000,0.331800,0.564900,0.875000,1.166700e+00
Completion-4yr,32451.0,0.492113,2.072693e-01,0.000000,0.348100,0.485200,0.631950,1.000000e+00
Completion<4yr,48454.0,0.527935,2.799658e-01,0.000000,0.266800,0.565200,0.761700,1.000000e+00
RetentionFT-4yr,21147.0,20.406434,3.285760e+01,0.000000,0.666050,0.794600,53.000000,1.000000e+02
RetentionFT-<4yr,31011.0,18.889459,3.134790e+01,0.000000,0.606600,0.782200,45.000000,1.000000e+02
RetentionPT-4yr,14356.0,13.828999,2.582600e+01,0.000000,0.333300,0.545500,12.000000,1.000000e+02
RetentionPT-<4yr,19451.0,14.794135,2.621454e+01,0.000000,0.408800,0.666700,26.000000,1.000000e+02
PercentFedLoan,31001.0,0.514787,2.964739e-01,0.000000,0.287500,0.576500,0.753500,1.791800e+00
PercentAge>25,44466.0,0.389712,2.191481e-01,0.000000,0.223900,0.387400,0.540000,1.000000e+00
PercentCompleted4yr,59286.0,0.364557,2.473961e-01,0.000000,0.141115,0.358289,0.564752,1.000000e+00
PercentWithdraw4yr,58637.0,0.206537,1.446586e-01,0.000000,0.102941,0.195312,0.294118,8.604369e-01
PercentEnrolled4yr,52723.0,0.045018,5.293404e-02,0.000000,0.000000,0.033282,0.072646,7.796610e-01
PercentAidedLowIncome,52158.0,0.636114,1.980754e-01,0.085227,0.500000,0.670213,0.792646,1.000000e+00
PercentIndependent,90259.0,0.534046,2.566011e-01,0.000000,0.333333,0.574648,0.742424,1.000000e+00
PercentDependentLowIncome,69125.0,0.473221,1.957952e-01,0.000000,0.308417,0.464611,0.617917,1.000000e+00
PercentIndepentdentLowIncome,69155.0,0.782647,1.162329e-01,0.227034,0.725852,0.802521,0.863399,1.000000e+00
PercentFirstGen,85257.0,0.482636,1.368105e-01,0.000000,0.400000,0.500000,0.571429,1.000000e+00
AvgIncomeDependent,86723.0,53426.946473,2.466150e+04,246.550640,34024.941400,50224.820830,70432.914160,1.890418e+05
AvgIncomeIndep,86979.0,23251.622536,9.788321e+03,0.000000,16759.910575,21788.260830,27858.379355,1.039465e+05
MedianDebt,79349.0,9241.172422,5.119010e+03,124.000000,5251.000000,8400.000000,12501.000000,1.313350e+05
MedianDebtCompleters,72862.0,12724.859097,7.217553e+03,310.000000,6625.000000,11624.000000,17125.000000,5.383150e+04
MedianDebtNotComplete,73837.0,6689.284031,3.585235e+03,447.000000,3875.000000,5837.500000,9100.000000,3.512500e+04
PercentReceiveFedLoan,24285.0,0.688059,3.488032e-01,0.000000,0.460000,0.870000,0.950000,1.000000e+00
AvgAgeEntry,24285.0,25.384307,3.568647e+00,17.049999,22.730000,25.389999,27.559999,4.633000e+01
PercentFemale,24285.0,0.660609,2.078065e-01,0.000000,0.560000,0.650000,0.810000,1.000000e+00
PercentMarried,24285.0,0.211148,1.309172e-01,0.000000,0.110000,0.210000,0.300000,1.000000e+00
PercentDependent,24285.0,0.465947,2.621859e-01,0.000000,0.240000,0.430000,0.680000,1.000000e+00
PercentVeteran,24285.0,0.034009,3.680532e-02,0.000000,0.010000,0.030000,0.040000,6.100000e-01
AvgFamilyIncome,24285.0,41749.271249,2.305620e+04,165.170000,23804.050000,36185.210000,55978.120000,1.562255e+05
MedianFamilyIncome,24285.0,33124.492650,2.125335e+04,0.000000,17651.000000,26567.500000,44505.000000,1.381135e+05
MedianHouseholdIncome,24189.0,57471.870693,1.273375e+04,15193.600000,49143.250000,56881.710000,65570.240000,1.257130e+05

In [23]:
operational.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101121 entries, 0 to 124698
Data columns (total 54 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Id                            101121 non-null  int64
 1   OPEID                         101121 non-null  object
 2   Name                          101121 non-null  object
 3   City                          101121 non-null  object
 4   Zip                           101121 non-null  object
 5   Predominant degree            82831 non-null   float64
 6   Main branch                   101121 non-null  bool
 7   NumBranches                   101121 non-null  int64
 8   Primary degree type           101121 non-null  category
 9   High degree                   101121 non-null  category
 10  Control                       101099 non-null  category
 11  StateCode                     101092 non-null  category
 12  Region                        101092 non-null  category
 13  AdmissionRate                 30076 non-null   float64
 14  ACTMidpoint                   15549 non-null   float64
 15  SATAvg                        18134 non-null   float64
 16  Enrollment-DegreeSeeking      89788 non-null   float64
 17  CURROPER                      101121 non-null  bool
 18  NetPrice-Private              16654 non-null   float64
 19  AvgCost-AY                    19181 non-null   float64
 20  TuitionRevenue/FTE            88058 non-null   float64
 21  Expenditure/FTE               88052 non-null   float64
 22  AvgFaculty Salary             61663 non-null   float64
 23  Percent Fulltime Faculty      52529 non-null   float64
 24  Completion-4yr                32451 non-null   float64
 25  Completion<4yr                48454 non-null   float64
 26  RetentionFT-4yr               21147 non-null   float64
 27  RetentionFT-<4yr              31011 non-null   float64
 28  RetentionPT-4yr               14356 non-null   float64
 29  RetentionPT-<4yr              19451 non-null   float64
 30  PercentFedLoan                31001 non-null   float64
 31  PercentAge>25                 44466 non-null   float64
 32  PercentCompleted4yr           59286 non-null   float64
 33  PercentWithdraw4yr            58637 non-null   float64
 34  PercentEnrolled4yr            52723 non-null   float64
 35  PercentAidedLowIncome         52158 non-null   float64
 36  PercentIndependent            90259 non-null   float64
 37  PercentDependentLowIncome     69125 non-null   float64
 38  PercentIndepentdentLowIncome  69155 non-null   float64
 39  PercentFirstGen               85257 non-null   float64
 40  AvgIncomeDependent            86723 non-null   float64
 41  AvgIncomeIndep                86979 non-null   float64
 42  MedianDebt                    79349 non-null   float64
 43  MedianDebtCompleters          72862 non-null   float64
 44  MedianDebtNotComplete         73837 non-null   float64
 45  PercentReceiveFedLoan         24285 non-null   float64
 46  AvgAgeEntry                   24285 non-null   float64
 47  PercentFemale                 24285 non-null   float64
 48  PercentMarried                24285 non-null   float64
 49  PercentDependent              24285 non-null   float64
 50  PercentVeteran                24285 non-null   float64
 51  AvgFamilyIncome               24285 non-null   float64
 52  MedianFamilyIncome            24285 non-null   float64
 53  MedianHouseholdIncome         24189 non-null   float64
dtypes: bool(2), category(5), float64(41), int64(2), object(4)
memory usage: 37.7+ MB

In [24]:
nas=pd.DataFrame(operational.isnull().sum().sort_values(ascending=False)/len(operational),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                               percent
RetentionPT-4yr               0.858031
ACTMidpoint                   0.846234
NetPrice-Private              0.835306
SATAvg                        0.820670
AvgCost-AY                    0.810316
RetentionPT-<4yr              0.807646
RetentionFT-4yr               0.790874
MedianHouseholdIncome         0.760792
PercentReceiveFedLoan         0.759842
AvgFamilyIncome               0.759842
PercentVeteran                0.759842
PercentDependent              0.759842
PercentMarried                0.759842
PercentFemale                 0.759842
AvgAgeEntry                   0.759842
MedianFamilyIncome            0.759842
AdmissionRate                 0.702574
PercentFedLoan                0.693427
RetentionFT-<4yr              0.693328
Completion-4yr                0.679087
PercentAge>25                 0.560269
Completion<4yr                0.520831
PercentAidedLowIncome         0.484202
Percent Fulltime Faculty      0.480533
PercentEnrolled4yr            0.478615
PercentWithdraw4yr            0.420130
PercentCompleted4yr           0.413712
AvgFaculty Salary             0.390206
PercentDependentLowIncome     0.316413
PercentIndepentdentLowIncome  0.316116
MedianDebtCompleters          0.279457
MedianDebtNotComplete         0.269815
MedianDebt                    0.215306
Predominant degree            0.180872
PercentFirstGen               0.156881
AvgIncomeDependent            0.142384
AvgIncomeIndep                0.139852
Expenditure/FTE               0.129241
TuitionRevenue/FTE            0.129182
Enrollment-DegreeSeeking      0.112074
PercentIndependent            0.107416
StateCode                     0.000287
Region                        0.000287
Control                       0.000218